.left-column, .image-container img {
    transition: opacity 1s ease, transform 1s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}



html{
    scroll-behavior: smooth;
}

.outfit-h1 {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.questrial-regular {
    font-family: "Questrial", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #fff, #fff1f6); /* Degradado de blanco a rosa claro */
    color: #552a2a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Questrial, serif;
    font-size: small;
}

header .logo img {
    max-height: 50px;
}

nav {
    display: flex;
    justify-content: center; /* Centra los enlaces de navegación */
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #552a2a;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}

.left-column {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    margin-left: 50px;
}

.left-column h1 {
    font-size: 2.7em;
    margin-bottom: 20px;
    font-family: Outfit, serif;
}

.left-column p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: Questrial , serif;
    color: #333;
    font-size: 1.2em;
}

.left-column button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #552a2a;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-column button:hover {
    background-color: #552a2a;
}

.right-column {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
    position: relative;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container img {
    width: 125%;
    right: -10%;
    z-index: 1;
}

.photo-album {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 18%;
    left: 43px;
    width: 90%;
    z-index: 2;
}

.album-background {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.album-photo {
    width: 15%;
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.album-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.best-dishes-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.best-dishes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h2 {
    font-size: 2.5em;
    font-family: Outfit, serif;
}

.separator {
    border-left: 3px solid #552a2a;
    height: 100px;
    margin-left: 20px;
}

.description-container {
    margin-left: 20px;
    font-family: Questrial, serif;
    font-size: 1.2em;
    color: #333;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    object-fit: cover; /* Recorta la imagen para llenar el espacio */

}

.card {
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro de la tarjeta */
    font-family: Questrial, serif;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.info {
    padding: 10px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.dish-name {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #552a2a;
}

.stars {
    color: #f39c12; /* Amarillo para las estrellas llenas */
    font-size: 1.2em;
}

.view-more {
    display: flex; /* Habilita el uso de flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Asegura que el botón esté verticalmente alineado (opcional) */
}


.view-more button {
    padding: 10px 20px;
    background-color: #552a2a;
    color: #fff;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Asegura que el botón esté verticalmente alineado (opcional) */
        border: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-more button:hover {
    background-color: #333;
}


.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre la imagen y las estrellas */
}

.star {
    color: gold;
    font-size: 1.5em;
    margin: 0 2px;}


    





.showcase-section {
    padding: 50px 20px;
    display: flex;        
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    }
    
    .showcase-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        gap: 20px;
    }
    
    .text-section {
        flex: 1;
        font-family: 'Questrial', sans-serif;
    }
    
    .text-section h2 {
        font-size: 32px;
        color: #552a2a;
        margin-bottom: 15px;
    }
    
    .text-section p {
        font-size: 18px;
        color: #666;
        line-height: 1.6;
    }
    
    .image-section {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    .image-section img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .order-section {
    background-color: #fff1f6; /* Color rosita */
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-container {
    text-align: center;
    max-width: 600px;
}

.order-container h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.order-container p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

.order-footer p {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
}

.order-container button {
    background-color: #552a2a; 
    color: #fff;
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.order-container button:hover {
    background-color: #ff4d76; /* Rosita más oscuro */
}



/* Sección de reviews */
.reviews-section {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.review {
    display: none; /* Por defecto ocultamos todas las reseñas */
    opacity: 0; /* Empezamos con opacidad 0 */
    transition: opacity 1s ease-in-out; /* Suavizamos la transición */
    text-align: center;
    padding: 20px;
}

.quote {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem; /* Aumentamos el tamaño de las comillas */
    font-style: italic;
    margin-bottom: 20px;
}

.quote::before,
.quote::after {
    content: '"';
    font-size: 5rem; /* Aumentamos el tamaño de las comillas */
    color: #f1cbd9; /* Comillas en color negro */
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.review p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.9rem; /* Aumentamos el tamaño del texto */
    color: #666; /* Color negro para el texto */
}
.author p {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    color: #552a2a; /* Color que ya venimos usando */
}

/* Para cuando la reseña es visible, cambiamos la opacidad a 1 */
.review.show {
    display: block;
    opacity: 1;
}






/* Footer */
.footer {
    background-color: #fff1f6; /* Rosita */
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-logo img {
    max-height: 60px;
    object-fit: contain;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #552a2a; /* Color de los links al pasar el mouse */
}

.footer-line {
    border: 0;
    border-top: 1px solid #6666661c;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-bottom p {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: #666;
}

.social-links a {
    margin-left: 15px;
}

.social-links img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse sobre los iconos */
}

/* Media Queries para Responsividad */

/* Para pantallas de hasta 768px (móviles y tablets pequeñas) */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px; /* Reducimos el padding */
        font-size: 0.9em; /* Reducimos el tamaño de la fuente */
    }

    .logo img {
        max-height: 40px; /* Reducimos el tamaño del logo */
    }

    nav ul {
        flex-direction: column; /* Cambiamos la dirección de los elementos en la barra de navegación */
        align-items: center;
        margin-top: 10px; /* Añadimos un margen arriba */
    }

    nav ul li {
        margin: 5px 0; /* Reducimos el espacio entre los enlaces */
    }

    .container {
        flex-direction: column; /* Ponemos los elementos de la página en una sola columna */
        padding: 20px;
        height: auto; /* Hacemos que el contenedor no ocupe toda la altura de la pantalla */
    }

    .left-column, .right-column {
        max-width: 100%; /* Hacemos que ambas columnas ocupen el 100% del ancho */
        flex: 1;
        margin-bottom: 20px; /* Agregamos espacio entre las columnas */
    }

    .left-column h1 {
        font-size: 2em; /* Reducimos el tamaño del título */
    }

    .left-column p {
        font-size: 1.1em; /* Reducimos el tamaño del texto */
    }

    .photo-album {
        flex-direction: column;
        bottom: 10%; /* Ajustamos la posición de las fotos */
        left: 10%; /* Ajustamos la posición */
    }

    .cards-container {
        flex-direction: column; /* Cambiamos la dirección de las tarjetas */
        align-items: center;
    }

    .card {
        width: 80%; /* Ajustamos el tamaño de las tarjetas */
        margin: 10px 0;
    }

    .showcase-container {
        flex-direction: column; /* Cambiamos la dirección de los elementos */
        text-align: center;
    }

    .order-container {
        width: 90%; /* Reducimos el ancho del contenedor */
        padding: 30px;
    }

    .review-container {
        flex-direction: column; /* Hacemos que las reseñas se apilen */
        padding: 20px;
    }

    .footer-content {
        flex-direction: column; /* Cambiamos la dirección para que se acomode en pantallas pequeñas */
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column; /* Cambiamos la dirección de los enlaces */
        gap: 10px; /* Reducimos el espacio entre los enlaces */
    }

    .social-links {
        margin-top: 15px; /* Espaciamos los iconos sociales */
    }

    .footer-bottom {
        flex-direction: column; /* Ponemos el footer en una columna */
        align-items: center;
        text-align: center;
    }
}

/* Para pantallas de hasta 1024px (tabletas grandes y pantallas de tamaño intermedio) */
@media screen and (max-width: 1024px) {
    header {
        padding: 15px 30px;
        font-size: 1em;
           
    }

    nav ul {
        justify-content: space-between;
        flex-direction: row;
    }

    .container {
        padding: 20px;
        flex-direction: row;
    }

    .left-column, .right-column {
        max-width: 50%;
        flex: 1;
    }

    .photo-album {
        bottom: 15%; /* Ajustamos la posición para tabletas */
    }

    .order-container {
        padding: 40px 30px;
    }

    .footer-content {
        flex-direction: row; /* Ajustamos el footer para pantallas más grandes */
        justify-content: space-between;
    }
}
